## Reshaping data in R

In this part of the assignment, we will again reshape [rhpi.csv](rhpi.csv) and [rpdi.csv](rpdi.csv), but this time we will use R to do it! 

Take a look of the [assignment-2-complex-example.ipynb](assignment-2-complex-example.ipynb) and try to do the same using R. Write your code into this ipynb.

## Load HPI data from csv files

In [1]:
library(data.table)
library(magrittr)

In [2]:
rhpi_wide <- fread("rhpi.csv")
names(rhpi_wide)[1] <- "Country"
head(rhpi_wide, 10)

   Country     1975:Q1 1975:Q2 1975:Q3 1975:Q4 1976:Q1 1976:Q2 1976:Q3 1976:Q4
1  Australia    39.16   38.50   38.61   37.76   37.95   38.12   38.36   37.90
2  Belgium      44.51   45.66   47.01   48.67   50.60   52.26   53.74   55.20
3  Canada       59.42   59.20   59.89   59.54   59.20   59.85   58.89   57.63
4  Switzerland  93.83   91.83   90.41   88.91   86.83   85.89   84.98   85.19
5  Germany     108.59  108.46  109.07  109.30  109.90  110.60  111.24  112.64
6  Denmark      57.37   57.61   59.07   58.07   58.44   57.28   57.34   58.64
7  Spain        90.01   97.11   95.55   98.86   96.98  103.97  102.79   97.81
8  Finland      54.20   53.63   53.49   56.17   52.07   51.46   50.63   49.95
9  France       43.20   43.65   44.27   45.12   45.76   46.34   46.82   47.43
10 UK           31.71   30.66   30.03   29.06   28.86   28.71   28.32   27.50
   1977:Q1 ⋯ 2014:Q4 2015:Q1 2015:Q2 2015:Q3 2015:Q4 2016:Q1 2016:Q2 2016:Q3
1   37.94  ⋯ 132.02  134.01  139.46  142.59  141.82  142.13  144.49  146.95
2   56.32  ⋯ 120.57  121.07  120.81  120.89  120.85  121.12  121.21  121.73
3   55.91  ⋯ 146.32  148.47  152.70  154.65  156.18  160.20  172.16  178.14
4   84.54  ⋯ 132.82  134.30  135.28  135.78  136.48  137.36  137.54  138.22
5  113.76  ⋯ 101.83  103.20  104.33  105.36  106.47  108.00  109.95  111.61
6   57.49  ⋯  93.25   96.35   98.00   98.17   98.67  100.52  100.72  101.44
7   93.57  ⋯  70.23   70.21   69.88   70.84   71.56   72.19   71.89   72.16
8   48.94  ⋯ 104.82  104.72  104.51  104.57  104.46  104.59  104.95  105.23
9   48.62  ⋯ 105.27  104.63  103.96  104.17  104.42  104.94  104.91  105.71
10  26.78  ⋯  99.08  100.18  101.20  103.30  105.38  107.52  108.35  108.79
   2016:Q4 2017:Q1
1  153.00  156.41
2  122.33  122.12
3  179.53  186.32
4  139.28  140.06
5  112.66  113.97
6  101.53  101.73
7   72.10   72.08
8  104.38  103.92
9  105.84  106.99
10 109.47  110.81

## Reshape the data into long format

In [3]:
keys <- c("Quarter", "Country")
melt_setkeys <- function(data, keys, value.name){
    data %>%
      melt(id.vars = "Country",
           variable.name = "Quarter",
           value.name = value.name) %>%
      setkeyv(keys)
}

rhpi_long <- melt_setkeys(rhpi_wide, keys, "RHPI")
head(rhpi_long, 10)

   Country   Quarter RHPI
1  Australia 1975:Q1  39.16
2  Belgium   1975:Q1  44.51
3  Canada    1975:Q1  59.42
4  Croatia   1975:Q1  73.17
5  Denmark   1975:Q1  57.37
6  Finland   1975:Q1  54.20
7  France    1975:Q1  43.20
8  Germany   1975:Q1 108.59
9  Ireland   1975:Q1  23.28
10 Israel    1975:Q1  60.17

## Load and reshape PDI data

In [4]:
rpdi_wide <- fread("rpdi.csv")
names(rpdi_wide)[1] <- "Country"
head(rpdi_wide, 10)

   Country     1975:Q1 1975:Q2 1975:Q3 1975:Q4 1976:Q1 1976:Q2 1976:Q3 1976:Q4
1  Australia   72.13   71.41   70.63   69.63   69.25   69.64   71.14   71.09
2  Belgium     66.15   68.34   70.23   71.78   73.03   73.73   74.01   74.04
3  Canada      70.62   71.45   72.21   72.36   72.79   74.32   72.17   74.23
4  Switzerland 73.36   72.68   72.25   72.02   71.54   71.50   71.54   71.69
5  Germany     65.20   65.89   66.65   66.82   66.83   66.98   67.15   67.81
6  Denmark     70.21   71.65   72.78   73.74   74.54   75.24   75.82   76.21
7  Spain       71.77   71.36   71.22   71.38   72.57   72.80   72.89   72.84
8  Finland     52.89   53.20   53.73   56.41   52.77   53.14   52.69   52.56
9  France      66.12   66.31   67.32   68.27   67.63   67.74   68.36   68.55
10 UK          49.90   49.05   48.99   48.51   48.63   48.44   49.04   48.22
   1977:Q1 ⋯ 2014:Q4 2015:Q1 2015:Q2 2015:Q3 2015:Q4 2016:Q1 2016:Q2 2016:Q3
1  70.72   ⋯ 121.91  121.36  121.79  121.81  121.66  122.27  122.38  122.06
2  72.43   ⋯  98.67   99.02   98.83   98.64   98.54   98.91   99.33   99.61
3  73.11   ⋯ 122.65  123.27  125.05  125.42  126.60  126.75  127.35  128.65
4  71.72   ⋯ 113.72  112.38  112.36  112.30  112.49  113.95  114.23  114.75
5  68.30   ⋯ 109.06  109.77  109.96  110.85  110.85  110.50  111.55  110.45
6  76.23   ⋯ 109.18  111.92  111.71  110.01  110.02  112.50  111.15  108.88
7  72.20   ⋯  95.18   94.91   95.29   95.84   97.34   97.82   98.49   98.37
8  51.98   ⋯ 114.13  114.48  114.74  115.13  115.80  116.62  115.43  116.05
9  68.61   ⋯ 102.94  103.15  103.03  103.59  104.22  104.85  105.13  105.73
10 47.23   ⋯ 105.48  106.06  107.17  108.37  108.68  108.91  109.38  109.10
   2016:Q4 2017:Q1
1  121.67  121.54
2   99.29  100.52
3  129.45  129.47
4  115.26  115.47
5  110.78  111.97
6  108.68  108.59
7   98.67   97.70
8  116.05  115.98
9  105.77  105.91
10 108.59  107.63

In [5]:
rpdi_long <- melt_setkeys(rpdi_wide, keys, "RPDI")
head(rpdi_long, 10)

   Country   Quarter RPDI
1  Australia 1975:Q1 72.13
2  Belgium   1975:Q1 66.15
3  Canada    1975:Q1 70.62
4  Croatia   1975:Q1  8.43
5  Denmark   1975:Q1 70.21
6  Finland   1975:Q1 52.89
7  France    1975:Q1 66.12
8  Germany   1975:Q1 65.20
9  Ireland   1975:Q1 52.03
10 Israel    1975:Q1 48.03

## Merge HPI and PDI dataset

In [6]:
dt <- rhpi_long[rpdi_long]
head(dt, 10)

   Country   Quarter RHPI   RPDI
1  Australia 1975:Q1  39.16 72.13
2  Belgium   1975:Q1  44.51 66.15
3  Canada    1975:Q1  59.42 70.62
4  Croatia   1975:Q1  73.17  8.43
5  Denmark   1975:Q1  57.37 70.21
6  Finland   1975:Q1  54.20 52.89
7  France    1975:Q1  43.20 66.12
8  Germany   1975:Q1 108.59 65.20
9  Ireland   1975:Q1  23.28 52.03
10 Israel    1975:Q1  60.17 48.03

## Filter data

In [7]:
australia_dt <- dt[.(unique(Quarter), "Australia")]
head(australia_dt, 10)

   Country   Quarter RHPI  RPDI
1  Australia 1975:Q1 39.16 72.13
2  Australia 1975:Q2 38.50 71.41
3  Australia 1975:Q3 38.61 70.63
4  Australia 1975:Q4 37.76 69.63
5  Australia 1976:Q1 37.95 69.25
6  Australia 1976:Q2 38.12 69.64
7  Australia 1976:Q3 38.36 71.14
8  Australia 1976:Q4 37.90 71.09
9  Australia 1977:Q1 37.94 70.72
10 Australia 1977:Q2 37.73 70.22

## "Melt" dataset

In [8]:
melted_dt <- melt(dt, id.vars = keys,
                  variable.name = "Index Type", value.name = "Value")
head(melted_dt, 10)

   Quarter Country   Index Type Value
1  1975:Q1 Australia RHPI        39.16
2  1975:Q1 Belgium   RHPI        44.51
3  1975:Q1 Canada    RHPI        59.42
4  1975:Q1 Croatia   RHPI        73.17
5  1975:Q1 Denmark   RHPI        57.37
6  1975:Q1 Finland   RHPI        54.20
7  1975:Q1 France    RHPI        43.20
8  1975:Q1 Germany   RHPI       108.59
9  1975:Q1 Ireland   RHPI        23.28
10 1975:Q1 Israel    RHPI        60.17

In [9]:
tail(melted_dt, 10)

   Quarter Country     Index Type Value
1  2017:Q1 Netherlands RPDI       102.81
2  2017:Q1 New.Zealand RPDI       122.38
3  2017:Q1 Norway      RPDI       116.68
4  2017:Q1 S..Africa   RPDI       111.52
5  2017:Q1 S..Korea    RPDI       127.23
6  2017:Q1 Spain       RPDI        97.70
7  2017:Q1 Sweden      RPDI       131.61
8  2017:Q1 Switzerland RPDI       115.47
9  2017:Q1 UK          RPDI       107.63
10 2017:Q1 US          RPDI       111.36

## Pivot table

In [10]:
pivot_dt1 <- dcast(melted_dt, Quarter + Country ~ `Index Type`, value.var = "Value")
head(pivot_dt1, 10)

   Quarter Country   RHPI   RPDI
1  1975:Q1 Australia  39.16 72.13
2  1975:Q1 Belgium    44.51 66.15
3  1975:Q1 Canada     59.42 70.62
4  1975:Q1 Croatia    73.17  8.43
5  1975:Q1 Denmark    57.37 70.21
6  1975:Q1 Finland    54.20 52.89
7  1975:Q1 France     43.20 66.12
8  1975:Q1 Germany   108.59 65.20
9  1975:Q1 Ireland    23.28 52.03
10 1975:Q1 Israel     60.17 48.03

In [11]:
pivot_dt2 <- dcast(melted_dt, Country + Quarter ~ `Index Type`, value.var = "Value")
head(pivot_dt2, 10)

   Country   Quarter RHPI  RPDI
1  Australia 1975:Q1 39.16 72.13
2  Australia 1975:Q2 38.50 71.41
3  Australia 1975:Q3 38.61 70.63
4  Australia 1975:Q4 37.76 69.63
5  Australia 1976:Q1 37.95 69.25
6  Australia 1976:Q2 38.12 69.64
7  Australia 1976:Q3 38.36 71.14
8  Australia 1976:Q4 37.90 71.09
9  Australia 1977:Q1 37.94 70.72
10 Australia 1977:Q2 37.73 70.22