# Reshaping data in R

In this part of the assignment, we will again reshape [rhpi.csv](rhpi.csv) and [rpdi.csv](rpdi.csv), but this time we will use R to do it! 

Take a look of the [assignment-2-complex-example-python.ipynb](assignment-2-complex-example-python.ipynb) and try to do the same using R. You only need to fill in the part 1-6 here. You do **not** need to do the pivot table.

You may find it useful to learn more how to use dataframe in R, read the [how-to-manipulate-dataframe.ipynb](how-to-manipulate-dataframe.ipynb).

If you get stuck somewhere, feel free to contact us! As this is a formative assignment, we are happy to give you a few lines of codes to help you to start.

## 1. Load the HPI data

a. click into the [rhpi.csv](rhpi.csv) and have a look of the data. Does it have any header? How is each entry of the data separated? by space or comma? 
    
b. take a look of the [```read.csv```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/read.table.html) function and read the csv data to r.
    
c. after the data is loaded into r, you can use [```head```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) function to take a look of the first few rows of data. Is it in long or wide format?
    
d. you may find out that the first column name is empty. You may update the first column name to "country" by using [```colnames```](https://stat.ethz.ch/R-manual/R-devel/library/base/html/colnames.html) function. And remember R starts counting from 1!

In [3]:
## your code (filled in for you already)

rhpi_wide = read.csv("rhpi.csv") #if this line does not work, check where you are by getwd() 
head(rhpi_wide)
colnames(rhpi_wide)[1] = "country"
head(rhpi_wide)

  X           X1975.Q1 X1975.Q2 X1975.Q3 X1975.Q4 X1976.Q1 X1976.Q2 X1976.Q3
1 Australia    39.16    38.50    38.61    37.76    37.95    38.12    38.36
2 Belgium      44.51    45.66    47.01    48.67    50.60    52.26    53.74
3 Canada       59.42    59.20    59.89    59.54    59.20    59.85    58.89
4 Switzerland  93.83    91.83    90.41    88.91    86.83    85.89    84.98
5 Germany     108.59   108.46   109.07   109.30   109.90   110.60   111.24
6 Denmark      57.37    57.61    59.07    58.07    58.44    57.28    57.34
  X1976.Q4 X1977.Q1 ⋯ X2014.Q4 X2015.Q1 X2015.Q2 X2015.Q3 X2015.Q4 X2016.Q1
1  37.90    37.94   ⋯ 132.02   134.01   139.46   142.59   141.82   142.13
2  55.20    56.32   ⋯ 120.57   121.07   120.81   120.89   120.85   121.12
3  57.63    55.91   ⋯ 146.32   148.47   152.70   154.65   156.18   160.20
4  85.19    84.54   ⋯ 132.82   134.30   135.28   135.78   136.48   137.36
5 112.64   113.76   ⋯ 101.83   103.20   104.33   105.36   106.47   108.00
6  58.64    57.49   ⋯  93.25    96.35    98.00    98.17    98.67   100.52
  X2016.Q2 X2016.Q3 X2016.Q4 X2017.Q1
1 144.49   146.95   153.00   156.41
2 121.21   121.73   122.33   122.12
3 172.16   178.14   179.53   186.32
4 137.54   138.22   139.28   140.06
5 109.95   111.61   112.66   113.97
6 100.72   101.44   101.53   101.73

  country     X1975.Q1 X1975.Q2 X1975.Q3 X1975.Q4 X1976.Q1 X1976.Q2 X1976.Q3
1 Australia    39.16    38.50    38.61    37.76    37.95    38.12    38.36
2 Belgium      44.51    45.66    47.01    48.67    50.60    52.26    53.74
3 Canada       59.42    59.20    59.89    59.54    59.20    59.85    58.89
4 Switzerland  93.83    91.83    90.41    88.91    86.83    85.89    84.98
5 Germany     108.59   108.46   109.07   109.30   109.90   110.60   111.24
6 Denmark      57.37    57.61    59.07    58.07    58.44    57.28    57.34
  X1976.Q4 X1977.Q1 ⋯ X2014.Q4 X2015.Q1 X2015.Q2 X2015.Q3 X2015.Q4 X2016.Q1
1  37.90    37.94   ⋯ 132.02   134.01   139.46   142.59   141.82   142.13
2  55.20    56.32   ⋯ 120.57   121.07   120.81   120.89   120.85   121.12
3  57.63    55.91   ⋯ 146.32   148.47   152.70   154.65   156.18   160.20
4  85.19    84.54   ⋯ 132.82   134.30   135.28   135.78   136.48   137.36
5 112.64   113.76   ⋯ 101.83   103.20   104.33   105.36   106.47   108.00
6  58.64    57.49   ⋯  93.25    96.35    98.00    98.17    98.67   100.52
  X2016.Q2 X2016.Q3 X2016.Q4 X2017.Q1
1 144.49   146.95   153.00   156.41
2 121.21   121.73   122.33   122.12
3 172.16   178.14   179.53   186.32
4 137.54   138.22   139.28   140.06
5 109.95   111.61   112.66   113.97
6 100.72   101.44   101.53   101.73

## 2. Convert the HPI data from wide to long

The original HPI data is in wide format. Each row represents a country and each column represents a quarter. This means that each row has the HPI values of **one** country and **different** quarters. 
    
Here we would like to change it to long format so that each row has the a HPI value of **one** country and **one** quarter:
    
a. take a look of the [```melt```](https://cran.r-project.org/web/packages/reshape2/reshape2.pdf) function and convert the the HPI data into long format. You may want to provide the following additional arguments (take a look of [http://seananderson.ca/2013/10/19/reshape.html] if you do not know how to set the arguments):
  * id
  * value.name
  * variable.name
   
 
        
b. use [```head```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) to take a look of the data
    
c. you will notice that the quarter value somehow has the X at the beginning (e.g. X1970.Q3 instead of 1970.Q3). If you want to remove the X from the quarter value, take a look of the [```substring```](https://stat.ethz.ch/R-manual/R-devel/library/base/html/substr.html) function.

In [8]:
library(reshape2)
rhpi_long = melt(rhpi_wide, id = "country", value.name = "HPI", variable.name = "quarter")
head(rhpi_long)

  country     quarter  HPI
1 Australia   X1975.Q1  39.16
2 Belgium     X1975.Q1  44.51
3 Canada      X1975.Q1  59.42
4 Switzerland X1975.Q1  93.83
5 Germany     X1975.Q1 108.59
6 Denmark     X1975.Q1  57.37

## 3. Load the PDI data and convert the PDI data from wide to long

In [9]:
rpdi_wide = read.csv("rpdi.csv") #if this line does not work, check where you are by getwd() 
colnames(rpdi_wide)[1] = "country"
rpdi_long = melt(rpdi_wide, id = "country", value.name = "PDI", variable.name = "quarter")
head(rpdi_long)

  country     quarter  PDI
1 Australia   X1975.Q1 72.13
2 Belgium     X1975.Q1 66.15
3 Canada      X1975.Q1 70.62
4 Switzerland X1975.Q1 73.36
5 Germany     X1975.Q1 65.20
6 Denmark     X1975.Q1 70.21

## 4. Merge the long format HPI and PDI data
a. take a look of the [```merge```](https://stat.ethz.ch/R-manual/R-devel/library/base/html/merge.html) function and merge the two dataframes together. You should provide the "```by```" argument. What should be the unique identifier? Country? Quarter? Or both?

b. take a look of the merged data using [```head```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) to make sure the data are merged properly.

In [11]:
df = merge(rhpi_long, rpdi_long, by=c("country", "quarter"))
head(df)

  country   quarter  HPI   PDI
1 Australia X1975.Q1 39.16 72.13
2 Australia X1975.Q2 38.50 71.41
3 Australia X1975.Q3 38.61 70.63
4 Australia X1975.Q4 37.76 69.63
5 Australia X1976.Q1 37.95 69.25
6 Australia X1976.Q2 38.12 69.64

## 5. Filter the data
a. take a look of the [```which```](https://stat.ethz.ch/R-manual/R-devel/library/base/html/which.html) function. This function will return you the indices that a given condition is fulfilled. 

b. filter the data so that only Australia data is shown.

c. use [```head```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) and [```tail```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) functions to take a look of the data to make sure you filtered the data correctly.

In [13]:
df.australia = df[which(df$country=="Australia"),]
print(head(df.australia))
print(tail(df.australia))

    country  quarter   HPI   PDI
1 Australia X1975.Q1 39.16 72.13
2 Australia X1975.Q2 38.50 71.41
3 Australia X1975.Q3 38.61 70.63
4 Australia X1975.Q4 37.76 69.63
5 Australia X1976.Q1 37.95 69.25
6 Australia X1976.Q2 38.12 69.64
      country  quarter    HPI    PDI
164 Australia X2015.Q4 141.82 121.66
165 Australia X2016.Q1 142.13 122.27
166 Australia X2016.Q2 144.49 122.38
167 Australia X2016.Q3 146.95 122.06
168 Australia X2016.Q4 153.00 121.67
169 Australia X2017.Q1 156.41 121.54

## 6. Melt the data 

a. try to use the melt function again to produce a dataframe that is similar to the melted_df in the [assignment-2-complex-example-python.ipynb](assignment-2-complex-example-python.ipynb)

b. use [```head```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) and [```tail```](https://stat.ethz.ch/R-manual/R-devel/library/utils/html/head.html) functions to take a look of the data to make sure what you have done is correct.

In [16]:
melted.df = melt(df, id = c("country", "quarter"), variable.name = "index", value.name = "index.value")
print(head(melted.df))
print(tail(melted.df))

    country  quarter index index.value
1 Australia X1975.Q1   HPI       39.16
2 Australia X1975.Q2   HPI       38.50
3 Australia X1975.Q3   HPI       38.61
4 Australia X1975.Q4   HPI       37.76
5 Australia X1976.Q1   HPI       37.95
6 Australia X1976.Q2   HPI       38.12
     country  quarter index index.value
7769      US X2015.Q4   PDI      109.87
7770      US X2016.Q1   PDI      110.18
7771      US X2016.Q2   PDI      110.65
7772      US X2016.Q3   PDI      111.03
7773      US X2016.Q4   PDI      110.95
7774      US X2017.Q1   PDI      111.36

End of the assignment!